Repository av-belyakov/thehivehook_go_package: changes, and which GitLab CI jobs are due for each by the changed paths.
All: sync-file-readme, sync-file-docker-compose-rcm

sync-file-readme:
  tags:
  - thehivehook_go.gcm-prod
  stage: sync
  script:
  ...

sync-file-docker-compose-rcm:
  tags:
  - thehivehook_go.gcm-prod
  stage: sync
  script:
  ...

refactor: Изменить версию приложения modified: version
  version
Due: none

refactor: Изменить версию приложения modified: version
  .gitlab-ci.yml
  docker-compose.test.yml
  version
Due: none

ci: Настроить cicd modified: .gitlab-ci.yml modified: docker-compose.test.yml
  .gitlab-ci.yml
  docker-compose.test.yml
Due: none

chore: Добавить дополнительное логирование действий modified: cmd/router.go
  cmd/router.go
Due: none

ci: Поправить cicd для mster_v2 ветки modified: .gitlab-ci.yml modified: docker-compose.yml modified: version
  .gitlab-ci.yml
  docker-compose.yml
  version
Due: none

ci: Поправить cicd для mster_v2 ветки modified: .gitlab-ci.yml modified: docker-compose.yml modified: version
  .gitlab-ci.yml
  README.md
  docker-compose.yml
  version
Due: sync-file-readme

ci: Настроить развёртывание на РЦМ modified: .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

fix: Поправить описание modified: README.md
  README.md
Due: sync-file-readme

fix: Поправить отложенное хранилище modified: cmd/router.go modified: internal/storageobjects/app_test.go modified: internal/storageobjects/methods.go
  cmd/router.go
  internal/storageobjects/app_test.go
  internal/storageobjects/methods.go
Due: none

ci: Настроить автоматическое развёртывание modified: .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

chore: Изменить версию приложения modified: version
  version
Due: none

doc: Обновить описание приложения modified: README.md
  README.md
Due: sync-file-readme

ci: Изменить настройки cicd modified: .gitlab-ci.yml modified: config/config_dev.yml modified: config/config_prod.yml modified: docker-compose.rcm.yml modified: test/confighandler/config_test.go
  .gitlab-ci.yml
  config/config_dev.yml
  config/config_prod.yml
  docker-compose.rcm.yml
  test/confighandler/config_test.go
Due: sync-file-docker-compose-rcm

chore: Обновить номер версии приложения modified: version
  version
Due: none

fix: Поправить ошибку анмаршалинга поля customField modified: Dockerfile modified: cmd/thehiveapi/requests.go
  Dockerfile
  cmd/thehiveapi/requests.go
Due: none

fix: Поправить ошибку анмаршалинга поля customField modified: Dockerfile modified: cmd/thehiveapi/requests.go
  Dockerfile
  cmd/thehiveapi/requests.go
  version
Due: none

chore: Обновить пакеты зависимостей modified: go.mod modified: go.sum
  go.mod
  go.sum
Due: none

chore: Обновить исходный докер образ modified: Dockerfile modified: version
  Dockerfile
  version
Due: none

refactor: Изменить тип сообщения проверки региона modified: cmd/router.go
  cmd/router.go
Due: none

Path conditions:
  sync-file-readme: any of: README.md
  sync-file-docker-compose-rcm: any of: docker-compose.rcm.yml
